/* 
********
RESET
********
 */

 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

/* 
********
TYPOGRAPHY
********
*/

/* #region */

body {
   color: white;
   font-family: 'Roboto', sans-serif;
}

header .headericon {
   font-size: 12px;
}

main .mute {
   font-size: 13px;
}

main .username {
   font-size: 12px;
}

ul {
   list-style: none;
}

footer .icon {
   font-size: 26px;
}

footer .angle-up {
   font-size: 11px;
   font-weight: 700;
}

footer .label {
   font-size: 13px;
}

footer .end-meeting .end-btn {
   font-size: 12px;
   color: red;
}

footer .icon.special {
   color: #4bc800;
}

/* #endregion */

/* 
********
COMMON
********
*/

/* #region */

.flex {
   display: flex;
}

.container {
   max-width: 1500px;
   margin: 0 auto;
}

/* #endregion */

/* 
********
HEADER
********
*/

/* #region */

header {
   height: 50px;
   text-align: end;
   background-color: black;
}

header .headericon {
   display: inline-block;
   background-color: #4a4a4a;
   border-radius: 5px;
   padding: 4px;
   margin-top: 4px;
   margin-left: 1px;
}

header .headericon:last-child {
   margin-right: 5px;
}

/* #endregion */

/* 
********
MAIN
********
*/

/* #region */

main {
   height: calc(100vh - 130px);
   padding-top: 30px;
   padding-bottom: 30px;
   overflow-y: scroll;
   background-color: black;
}

main .call-window {
   flex-wrap: wrap;
   gap: 6px;
   justify-content: center;
}

main .users {
   width: calc((1500px - (6px * 6)) / 7);
   position: relative;
}

main .users img {
   width: 100%;
   display: block;
}

main .user-details {
   position: absolute;
   left: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.3);
   padding: 3px;
}


/* #endregion */

/* 
********
FOOTER
********
*/

/* #region */

footer {
   height: 80px;
   background-color: #222222;
}


footer .bottom-bar {
   height: 100%;
   justify-content: space-between;
   align-items: center;
}

footer .voice-video, footer .end-meeting {
   width: 20%;
}

footer .button, footer .angle up {
   text-align: center;
   display: inline-block;
   vertical-align: middle;
}

footer .icon-list {
   align-items: center;
}

footer .icon {
   margin-bottom: 6px;
}

footer .button {
   margin: 10px;
}

footer .end-meeting {
   text-align: right;
   justify-content: flex-end;
}

footer .end-meeting .end-btn {
   background-color: #4a4a4a;
   text-align: center;
   line-height: 80px;
   width: 110px;
   height: 80px;
}

footer li {
   flex-shrink: 0;
}

/* #endregion */